<!DOCTYPE  html>
<!--ng-app hace referencia al nombre de nuestro modulo-->
<html lang="es" ng-app="app">
<head>
   <meta charset="UTF-8" />
</head>
<body>
<!--añadimos aquí el controlador appController ya que será donde mostremos los datos-->
<div class="row" ng-controller="appController">
   <h1 class="subheader">Consumir un json con $http en AngularJS</h1>
   <ul class="panel callout radius">
      <li ng-repeat="data in datos">
         <p>Id: {{ data.name }} Nombre: {{ data.lastName }} mail: {{ data.mail }} telefono: {{data.phone}} valoracion: {{data.valoracion}} cp: {{data.cp}}</p>
      </li>
   </ul>
   <ul>
      <li>
         Name: <input type="text" name="name" ng-model="name" required />
      </li>
      <li>
         cp: <input type="text" name="cp" ng-model="cp" required />
      </li>
      <li>
         <hr />
         {{ PostDataResponse }}
      </li>
   </ul>
   <button ng-click="SendData()">Submit</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src ="js/angular.js"></script>
<script type="text/javascript" src="js/angular_resource.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>